<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="md.ysk5898.com">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".apiApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".material.MaterialActivity"/>
        <activity android:name="md.ysk5898.quiz.QuizActivity" />
        <activity
            android:name="md.ysk5898.kotlin.paracelable.GetActivityKt"
            android:theme="@style/Theme.AppCompat.Dialog.Alert" />
        <activity android:name="md.ysk5898.kotlin.paracelable.ParcelableActivityKt" />
        <activity android:name=".livedata.NameActivity" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="823479d530970972f95d7c12cb2ee460" />

        <activity android:name="md.ysk5898.kotlin.kakao.KakaoMapActivity" />
        <activity android:name="md.ysk5898.kotlin.bluetooth.BluetoothKtActivity" />
        <activity android:name="md.ysk5898.kotlin.retrofit.RetrofitKtActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="OPEN_THIS_ACT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="md.ysk5898.kotlin.MainKotlinActivity" />
        <activity android:name=".bluetooth.BlueToothBleActivity" />
        <activity android:name=".bluetooth.BlueToothActivity" />
        <activity android:name=".technology.TechActivity" />
        <activity android:name=".remote.RemoteConfigActivity" />
        <activity
            android:name=".fcm.DialogActivity"
            android:theme="@style/AppThemeDialog" />
        <activity android:name=".retrofit.view.RetrofitActivity" />
        <activity
            android:name=".opensource.openSourceActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".generic.GenericActivity" />
        <activity android:name=".capture.CaptureActivity" />
        <activity android:name=".pattern.ListActivity" />
        <activity android:name=".pattern.patternActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".bindapi.BindActivity" />
        <activity android:name=".bindapi.base.commActivity" />
        <activity android:name=".bindapi.ObjectActivity" />
        <activity android:name=".butter.ButterActivity" />
        <activity android:name=".realm.RealmActivity" />
        <activity android:name=".lamda.LamdaActivity" />
        <activity android:name=".parcelable.ParcelableActivity" />
        <activity android:name=".parcelable.GetActivity" /> <!-- com.BroadCast.receiver -->
        <receiver android:name=".broadcast.receiver.XmlBroadCastReceiver">
            <intent-filter>
                <action android:name="md.ysk5898.com.Broadcast.test" />
            </intent-filter>
        </receiver>

        <activity android:name=".broadcast.BroadcastActivity" />
        <activity android:name=".recycler.recyclerActivity" /> <!-- foregroundService -->
        <activity android:name=".service.ServiceActivity" /> <!-- 포그라운드 서비스 -->
        <service
            android:name=".service.reqService"
            android:enabled="true"
            android:exported="true" /> <!-- FCM 설정 -->
        <service
            android:name=".fcm.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
    </application>

</manifest>